* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--light-pop);
}

.greeting, .friends {
    width: 100%;
    text-align:center;
    
}

.friends div {
    
}

.greeting span {
    color: white;
    background-color: black;
    }