* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 90%;
    margin: 2rem auto;
}

.friends, .greeting{
    width: 100%;
    text-align:center;  
}

    .friends div {
        width: 5rem;
        margin: 1rem auto;
        padding: .5rem;
    }

    .greeting span {
        color: white;
        background-color: black;
    }